{% extends 'letras/base.html' %}

{% load staticfiles %}
    {% block content %}
     <div class="row row-offcanvas row-offcanvas-right">
        <div class="col-xs-10 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Canciones</button>
          </p>
          <div class="jumbotron">
           <center> <h2>{{ post.banda.banda}}</h2>
           <img src="{% static post.banda.foto %}" width="600" heigth="400" class="img-responsive" alt="Responsive image""/>
           <h3>Integrantes: {{ post.banda.integrantes }}</h3></center>
	   <h2><center>{{post.titulo}}</center></h2>
           <textarea class="form-control" rows="12 disable">{{ post.letra }}</textarea>
           <p class="text-right"><a class="btn btn-primary" href="{% url 'editar_banda' pk=post.pk %}" role="button">Editar &raquo;</a>
           <a class="btn btn-success" href="#" role="button">Agregar canción &raquo;</a>
           <a class="btn btn-danger" href="#" role="button">Eliminar &raquo;</a></p>
          </div>
        </div><!--/.col-xs-10.col-sm-9-->      
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->
{% endblock content %}

