
  {% extends 'letras/base.html' %}
    {% load staticfiles %}
    {% block content %}
     <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">
            <button type="button" class="btn btn-primary btn-xs" data-toggle="offcanvas">Grupos</button>
          </p>
          <div class="jumbotron">
            <h1>Proyecto final con Django!</h1>
            <p>Esta es una pagina web desarrollada con el framework Django y la implementacion de Bootstrap. Proyecto final del curso de programación comercial del 8vo. Semestre de ingeniería en sistemas de la universidad Mesoamericana.</p>
          </div>
 	  {% for post in posts %}
	  <div class="row">
            <div class="col-xs-8 col-lg-6">
              <center><h1><a href="{% url 'letras.views.detalles_banda' pk=post.pk %}">{{ post.banda }}</a></h1></center>
              <center><img src="{% static post.foto %}" width="300" height="300" class="img-thumbnail" alt="Responsive image" /></center>
              <h3>Integrantes: {{ post.integrantes }}</h3>
	    </div><!--/.col-xs-8.col-lg-6-->  
	    <div class="col-xs-6 col-md-6 col-sm-6">
	      <center><h1>Canciones</h1></center>
              {% for c in post.cancione_set.all %}
		  <button type="button" class="btn btn-primary btn-lg btn-block">{{ c.titulo }}</button>
              {% endfor %}
            </div><!--/.col-xs-6.col-md-6.col-sm-6-->
	  </div><!--/row-->
          {% endfor %}
        </div><!--/.col-xs-12.col-sm-9-->

        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
          <div class="list-group">
	    {% for post in posts %}         
            <b><center><a href="#" class="list-group-item">{{ post.banda }}</a></center></b>
	    {% endfor %}
          </div>
        </div><!--/.sidebar-offcanvas-->
      </div><!--/row-->
{% endblock content %}
